/testdata
/.venv
/data/stash
scratch.py
*__pycache_*
*.sqlite
celerybeat-schedule
*.schedule
.env
maindb.spbpro
*parquet
__pycache__/celeryBroker.cpython-38.pyc
__pycache__/config.cpython-38.pyc
*.csv
scratch.ipynb
my_pwl.txt