
this requirements file isn't correct at the moment 


Python 3.10
Flask - micro web framework for REST API
PySpark - multithreaded data processing
Pandas - Data manipulation
Numpy - for graphing
matplotlib - graphing
RabbitMQ - message broker - likely requires erlang to be installed also
Celery - task management framework asynchronous task queue + scheduling
SQLalchemy - for creating
SpaCY for NLP jobs



just putting this here for reference in the future